.rightboard_container{
    /* background-color: aqua; */
    width: 94%;
}


.rb_heading{
    height: 7vh;
    align-items: center;
    display: flex;

}
.rb_bottom{
    display: flex;
    justify-content: space-between;
}

.rb_b_left{
    width: 50%;
}

.r_b_b_right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    /* background-color: aquamarine; */
}


.bottom_left img{
    height: 5vh;
    width: 5vh;
}

.rb_b_left{
 display: flex;
 flex-direction: column;
 gap: 4vh;
}
.rb_left_bottom_1{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3vh;
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding-left: 1.3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.bottom_middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 4px; 
    font-family: 'Inter', Arial, sans-serif;
  }

.b_m_1 {
    font-size: 18px; 
    font-weight: 600;
    color: #212529; 
    line-height: 1.4; 
  }
  
  .b_m_2 {
    font-size: 14px; 
    font-weight: 400; 
    color: #6c757d; 
    line-height: 1.4; 
  }
.bottom_right_btn{
    color: white;
    width: 12vh;
   height: 5vh;
   align-items: center;
   text-align: center;
   display: flex;
   justify-content: center;
   font-weight: 600;
   border-radius: 1vh;
    background-color: blue;
    cursor: pointer;
}


.bottom_left_2_heading{
    height: 5vh;
    align-items: center;
    display: flex;
    font-size: 18px; 
    font-weight: 600; 
    color: #212529; 
    line-height: 1.4; 
}


.rb_left_bottom_2{

   
    width: 100%;
 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding-left: 1.5vh;
    padding-top: 0.5vh;
    padding-bottom: 3vh;

}

.rb_left_bottom_2_box{
    display: flex;
    gap: 3vh;

}

.rb_left_bottom_2_box > .box_1 {
    border-right: none/* Add right border */
  }
  
  .rb_left_bottom_2_box > .box_1:not(:last-child) {
    border-right: 1px solid #ddd; /* Add right border to all except the last */
  }
.box_1{
    display: flex;
    gap: 1vh;
    width: 25vh;
    height: 8vh;
    align-items: center;
    justify-content: center;
}
.box_1 img{
    height: 5vh;
    width: 5vh;
}


@media (max-width:1000px) {
    .rb_bottom{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 4vh;
    }

    .rb_b_left{
        width: 90%;
    }
    .r_b_b_right{
        width: 90%;
    }
}